.study-container {
  text-align: center;
  padding: 1.5rem;
  transition: 1s ease-in-out;
}

.study-container h2 {
  color: #ffffff;
  word-break: keep-all;
  text-wrap: balance;
}

.study-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 80vw;
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 12px;
  box-sizing: border-box;
}


.study-item {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 0.8rem;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  user-select: none;
  cursor: pointer;
}

.study-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.study-symbol {
  font-size: 2.3rem;
  margin-bottom: 0.4rem;
  word-break: keep-all;
}

.study-romaji {
  font-size: 1rem;
  color: #bbb;
}



@media (max-width: 400px) {

  .study-symbol {
    font-size: 1.5rem;
  }
.study-container h2 {
  color: #ffffff;
  word-break: keep-all;
  font-size: large;
  text-wrap: balance;
}
}